body{
    background-color: #65adff;
}
header{
    width: auto;
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 25px;
}
footer{
    width: auto;
    text-align: center;
    margin-bottom: 10px;
    padding: 30px;
    color:white;
    font-size: 20px;
}
.birth{
    width: auto;
    text-align: center;
    padding: 100px;
}
fieldset{
    border: none;
}
input[type=text]{
    font-size: 2em;
    line-height: 3em;
    background-color: white;
}
.no_outline{
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: solid;
}
input[type=text]:focus{
    outline: none;
}
/* Reference: https://app.banksalad.com/?utm_source=BS_WEB&utm_medium=BS_WEB_GNB&utm_campaign=170421_APP_certification_page */
.button{
    margin-left: 50px;
    width: 250px;
    height: 80px;
    border-radius: 4px;
    border: 3px solid white;
    line-height: 0.85;
    font-size: 30px;
    background-color: #65adff;
    color: white;
    cursor: pointer;
}
/* result.html */
.result{
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    margin: 30px 0;
}

.back{
    width: 200px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    border-radius: 4px;
    border: 3px solid white;
    cursor: pointer;
}

a {
    color: white;
    font-size: 30px;
    line-height: 1.5;
    text-decoration: none;
}

a:focus {
    color: white;
}